@import "~taro-ui/dist/style/components/flex.scss";

.icons-wrapper {
  margin-top: 20rpx;
  .icon-title-wrapper {
    padding: 10rpx 0 30rpx;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn-no-border {
      padding: 0;
      background: none;
      border: none;
    }
    .btn-no-border::after {
      border: none;
    }
    .title {
      margin-top: 10rpx;
      font-size: 24rpx;
    }
  }
}
