/* Custom Theme */
$color-brand: #b5121b;
$color-brand-light: #c84d54;
$color-brand-dark: #910e16;
@import "~taro-ui/dist/style/index.scss";
@import "taro-parse/dist/style/main.scss";

.h2w__main {
  margin: 0 64rpx;
  padding-top: 20rpx;
}

.at-accordion__header {
  background-color: #f1f1f1;
}

.at-avatar--large {
  width: 180rpx;
  height: 180rpx;
  font-size: 48rpx;
  line-height: 180rpx;
}

.at-accordion__info__title {
  white-space: pre-wrap;
}

.at-modal__header {
  padding: 0;
}

.main-content {
  margin-bottom: 180rpx;
  margin-top: 85rpx;
}

.main-content-2 {
  margin-top: 85rpx;
  margin-bottom: 180rpx;
}

.headView {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50rpx;
  height: 300rpx;
  width: 750rpx;
  position: relative;
}

.headView .icon {
  position: absolute;
  height: 180rpx;
  width: 180rpx;
  border-radius: 50%;
  border: 50rpx solid #f1f1f1;
}

.btn-no-border {
  border: none;
  padding: 0;
  background: none;
}

.btn-no-border::after {
  border: none;
}
