.taro-region-picker {
  height: 80rpx;
  line-height: 80rpx;
  text-align: left;
  font-size: 34rpx;
  padding: 0;
}

.taro-region-picker-gray {
  color: #999999;
}

.taro-region-picker-black {
  color: #000000;
}
