.teaching-methods-wrapper {
  padding-left: 30rpx;
  padding-right: 30rpx;
  .method-wrapper {
    padding-bottom: 20rpx;
    .introduction {
      font-size: 0.9em;
      text-align: justify;
    }
  }
}
