@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.one-on-one-button {
  width: 100vw;
  border-radius: 20rpx;
}

.one-on-one-button-no-footer {
  width: 100vw;
  border-radius: 20rpx;
}
